@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.nav-title {
    font-size: 1.5rem;
    color: white;
    /* Color inicial */
    transition: transform 0.3s, color 0.3s;
}

.nav-title:hover {
    color: #FFC107;
    /* Color amarillo */
    transform: scale(1.1) rotate(-2deg);
}

.btn-saga {
    background-color: #FFC107;
    border-color: #2c2c2c;
}

.btn-total {
    background-color: #db7d2f;
    border-color: #2c2c2c;

}

.btn-total:hover {
    background-color: rgb(219, 125, 47);
}

.btn-view {
    background-color: #2c7c94;
    border-color: #2c2c2c;
    color: white;
}

.btn-view:hover {
    background-color: #2c7c94;
}

/* styles.css */
.card-title {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 6px;
    color: #b33951;
    /* un rosa más oscuro */
}

.card-text {
    font-size: 0.95rem;
}

.card-body {
    padding: 1rem 1.5rem;
}

.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

/* Opcional: mejora para la imagen */
.movie-card img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    object-position: top center;
}

/* Bandera al lado del país */
.country-flag {
    margin-right: 5px;
    vertical-align: middle;
}

.fi {
    font-size: 1.8rem;
}


/************************************************/
/* ordenar si quiero la tarjeta 2/3 de proporcion
/**********************************************/
.card-img-wrapper {
    height: 66%;
    /* 2/3 */
    overflow: hidden;
}

.card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
Nombre	Hex Code	Descripción breve
Lavender Blush	#FFF0F5	Muy claro, casi blanco con rosa
Misty Rose	#FFE4E1	Rosa claro con un toque coral
Light Pink	#FFB6C1	Rosa tradicional, amigable
Pink Lace	#FFDDF4	Muy delicado, casi pastel
Cherry Blossom	#FFEBEF	Rosa japonés suave
Rose Quartz	#F7CAC9	Rosa sofisticado, tipo Pantone
*/

.card-body {
    height: 34%;
    background-color: #FFE4E1;
    /* 1/3 */
}

a.sin-estilo {
    text-decoration: none;
    color: inherit;
}

.stylish-select {
    background-color: #fff0f6;
    border: 2px solid #ff80ab;
    width: 50%;
    max-width: 200px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #6c757d;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(255, 105, 135, 0.2);
    transition: all 0.2s ease-in-out;
}

.stylish-select:hover,
.stylish-select:focus {
    border-color: #ff4081;
    color: #f7276c;
    background-color: #ffe4ec;
    outline: none;
}

.badge-lg {
    font-size: 0.99rem;
    padding: 0.3em 0.6em;
    text-decoration: none;
}

.detail {
    background-color: rgb(179, 57, 81, 15%);
    font-weight: bold;
}

.detail:hover {
    background-color: #b33951;
    color: white;
}

.actor-card {
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.actor-card:hover {
    transform: scale(1.03);
}

.actor-img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.col-md-8 {
    background-color: #b33951;
}

.trailer:hover {
    background-color: #a59494;
    text-decoration: dotted;
    color: black;
}

.actor-img.img-null {
    opacity: 0.6;
    filter: grayscale(100%);
}

.card-body.watched {
    background-color: #72db9a !important;
    /* verde menta suave */
    border: 1px solid #a5d6c8;
    box-shadow: 0 0 10px rgba(165, 214, 200, 0.4);
}

.card-body.not-watched {
    background-color: #fde2e4 !important;
    /* rosa empolvado */
    border: 1px solid #f5c2c7;
    color: black;
    box-shadow: 0 0 10px rgba(245, 194, 199, 0.4);
}

.reparto-section {
    background-color: #2c2c2c;
    color: #f9f9f9;
    border-radius: 6px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.reparto-section h4 {
    color: #ffffff;
}


/* estilo de las tarjetas de sagas */

.saga_title {
    color: white;
    text-transform: uppercase;
}

.saga_description {
    padding: 10px 15px !important;
    margin: 0;
    line-height: 1.6;
}

.saga_cant {
    position: absolute;
    right: 20px;
    top: 5px;
    size: 1.5rem;
    text-decoration: dotted;

}

.fake-button {
    display: inline-block;
    background-color: #a6384a;
    font-weight: bold;
    /* Verde tipo Bootstrap success */
    color: #fff !important;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    cursor: default;
    /* importante: no parece clickeable */
}


.saga-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fefefe;
    transition: transform 0.2s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.saga-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.saga-img {
    height: 260px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-body {
    padding: 1rem;
}

canvas {
    width: 75px !important;
    /* Ancho visual */
    height: 75px !important;
    /* Alto visual */
}

.progress-bar.bg-success {
    background-color: #28a745 !important;
    /* Verde */
}

.progress-bar.bg-warning {
    background-color: #ffc107 !important;
    /* Amarillo */
}

.progress-bar.bg-danger {
    background-color: #dc3545 !important;
    /* Rojo */
}

.progress-bar {
    transition: width 0.6s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    /* fondo oscuro */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-size: 50% 50%;
    /* más nítido */
}

/***********************************************/
/****** seccion Administracion ****************/
/*********************************************/

.admin-title {
    color: #72db9a;
}

.admin-title:hover {
    transform: scale(1.03);
}


/*******************************************/
/********** login **************************/
/*******************************************/

.init-session {

    margin: 20px 0px 20px 40px;
    color: #72db9a !important;
}

.login {
    background-image: url('https://getwallpapers.com/wallpaper/full/5/7/4/13663.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.login-container {
    height: 100%;
    align-content: center;
}

.login-card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 5%;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #72db9a;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.login-card-header h3 {
    color: white;
}

.login-card-body {
    margin: 10px 30px;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: 25px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #72db9a;
    margin-right: 20 px;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #72db9a;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

/* aca tengo mejorar el modo celular o pantallas pequeñas*/

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
        /* Cambia a columna en móviles */
        align-items: stretch;
        /* Asegura que los elementos llenen el contenedor */
    }

    .input-group input,
    .input-group select,
    .input-group .btn {
        width: 100% !important;
        /* Hacer que inputs y botones ocupen el ancho completo */
        margin-bottom: 10px;
        /* Espacio entre elementos */
    }

}