{% extends "base.html" %}


{% block content %}

<body>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div class="col">
            <div class="card h-100 shadow-sm movie-card">

                <img src="{{ url_for('static', filename='images/movies/' + (movie.ImageFilename or 'movie_placeholder.jpg')) }}"
                    onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/movie_placeholder.jpg') }}';"
                    class="card-img-top" alt="{{ movie.Title }}">


                <div class="card-body                {% if movie.Watched %} 
                watched
                {% else %}
                not-watched
                {% endif %}">
                    <h5 class="card-title">{{ movie.Title }}</h5>
                    <p class="card-text mb-1">

                        <a href="{{ url_for('index', director=movie.Director) }}" class="badge bg-secondary badge-lg">
                            {{ movie.Director }}
                        </a>
                    </p>
                    <p class="card-text mb-1">
                        <span class="badge bg-primary badge-lg">{{ movie.ReleaseYear }}</span>
                        <span class="badge bg-secondary badge-lg">{{ movie.Genre }}</span>
                    </p>
                    <br>
                    <p class="mb-1">
                        <strong>País:</strong>
                        <span class="fi fi-{{ movie.CountryID|lower }} me-2" style="font-size: 1.5rem;"></span>

                    </p>
                    <br>
                    <div class="d-flex justify-content-between align-items-center mb-2">

                        {% if movie.IMDbRating %}
                        {% set rating = movie.IMDbRating %}
                        {% if rating >= 8 %}
                        {% set badge_class = "bg-info text-dark" %}
                        {% elif rating >= 6 %}
                        {% set badge_class = "bg-success" %}
                        {% elif rating >= 4 %}
                        {% set badge_class = "bg-warning text-dark" %}
                        {% else %}
                        {% set badge_class = "bg-danger" %}
                        {% endif %}

                        <span class="badge {{badge_class}} text-dark fs-5">
                            ⭐ {{ movie.IMDbRating }}/10
                        </span>
                        {% else %}
                        <span class="badge bg-secondary fs-5">
                            ⭐??/10
                        </span>

                        {% endif %}


                        <a href="{{ url_for('movie_detail', movie_id=movie.MovieID) }}"
                            class="btn btn-sm btn-outline-dark detail">Ver detalles</a>



                        {% if movie.Watched %}
                        <button class="btn btn-sm btn-outline-dark">👁️ Vista</buton>

                            {% else %}
                            {%
                            endif
                            %}

                            {% if movie.Watched %}
                            {%else%}
                            <button class="btn btn-sm btn-success mark-watched-btn" data-movie-id="{{ movie.MovieID }}">
                                Marcar como vista
                            </button>

                            <span class="watched-text" style="display:none; color: green;">👁️ Vista</span>
                            {%endif%}
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    </div>
    {# Armar parámetros reutilizables para los enlaces #}
    {% set query_params = '' %}
    {% if search %}{% set query_params = query_params + '&search=' + search %}{% endif %}
    {% if actor %}{% set query_params = query_params + '&actor=' + actor %}{% endif %}
    {% if director %}{% set query_params = query_params + '&director=' + director %}{% endif %}
    {% if country %}{% set query_params = query_params + '&country=' + country %}{% endif %}

    {% endblock %}
</body>


</html>